a {
  color: inherit;
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 10vh;
}

header h3 {
  width: 100%;
  margin: auto;
}

header a {
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

.calendar {
  --cal-cols: 5;
  display: grid;
  grid-template-columns: repeat(var(--cal-cols), 1fr);
  grid-template-rows: repeat(var(--cal-cols), 1fr);

  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

@media(max-width: 1300px) {
  .calendar{
    margin: 50px;
  }
}

@media(max-width: 900px) {
  .calendar{
    --cal-cols: 4;
  }
}

@media(max-width: 700px) {
  .calendar{
    --cal-cols: 3;
  }
}

@media(max-width: 600px) {
  .calendar{
    --cal-cols: 2;
  }
}

.calendar > * {
  padding-top: calc(100% / (4/1));
  padding-bottom: calc(100% / (4/1));
  border: 1px solid;
  grid-gap: 0;
  margin: 0;
}

.calendar a:hover {
  background-color: #444a4d;
}

.calendar p.disabled {
  color: grey;
  border-color: grey;
}

.day-wrapper {
  height: 88vh;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: calc(100% - 6rem);
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

@media(max-width: 1300px) {
  .day{
    margin: 50px;
  }
}

.day .data-input {
  grid-row: span 2;
}

.output-2, .output-1 {
  font-family: monospace;
}